@media screen and (min-width: 992px) {
  .navbar-nav {
      gap: 32px;
  }
}

.navbar li a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

body {
  background-color: #ececf2 !important;
  overflow-x: hidden;
}

#intro {
  background-image: url('/img/8.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@media (min-width: 992px) {
  #intro {
      margin-top: -58px;
  }
}

.img10 {
  width: 200px;
  height: 100px;
  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slider {
  margin-top: 20px;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-500%); }
}

.navbar {
  background-color: #2C3E50;
}

h3 {
  color: #FFFFFF !important;
}

p, a, span, li {
  color: #BDC3C7;
}

.footer {
  background-color: #2C3E50;
  color: #BDC3C7;
}

footer a {
  color: #F39C12;
}

footer a:hover {
  color: #D68910;
}


.navbar a {
  color: #D4AC0D !important;
}

.navbar a:hover {
  color: #B7950B !important;
}


.btn-primary {
  background-color: #D4AC0D !important;
  border-color: #D4AC0D !important;
  color: #FFFFFF !important;
}

.btn-primary:hover {
  background-color: #B7950B !important;
  border-color: #B7950B !important;
}
