@media screen and (min-width: 992px)
{
    .navbar-nav{
        gap: 32px;
    }
    
}

.navbar li a{
    font-family: "inter" sans-serif;
    font-weight: 600;
    font-size: 16px;
}

@media screen and (min-width: 992px)
{
    .navbar-nav{
        gap: 32px;
    }
    
}

.navbar li a{
    font-family: "inter" sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.navbar {
  background-color: #2C3E50; 
}
.navbar a {
  color: #D4AC0D !important; 
}
.navbar a:hover {
  color: #B7950B !important; 
}


.btn-primary {
  background-color: #D4AC0D !important; 
  border-color: #D4AC0D !important;
  color: #FFFFFF !important;
}
.btn-primary:hover {
  background-color: #B7950B !important; 
  border-color: #B7950B !important;
}
